html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size-adjust: inherit;
  font-stretch: inherit;
  font-feature-settings: inherit;
  font-language-override: inherit;
  font-kerning: inherit;
  font-synthesis: inherit;
  font-variant: inherit;
  font-size: 100%;
  vertical-align: baseline; }

a, a:hover, a:active {
  outline: medium none;
  text-decoration: none; }

/*---------ONLY BELOW NEW-----------*/
.articles-module {
  /*----------SPLAASH------------*/ }
  .articles-module .navbar {
    background-color: #990000; }
    .articles-module .navbar .a-nav-right {
      padding-right: 1.25rem; }
      .articles-module .navbar .a-nav-right a {
        font-size: 17px;
        font-weight: bold;
        color: #CCCCFF; }
      .articles-module .navbar .a-nav-right a:hover {
        color: #FFFFFF; }
  .articles-module .atc-splash .picture {
    background-image: url(""); }
