html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  vertical-align: baseline; }

a, a:hover, a:active {
  outline: medium none;
  text-decoration: none; }

/*---------ONLY BELOW NEW-----------*/
.login {
  margin-bottom: 3.125rem;
  padding-top: auto;
  padding-right: auto;
  padding-left: auto;
  padding-bottom: 3.125rem;
  height: 100%; }
  .login .big-title {
    font-family: ChunkFive;
    font-size: 4em;
    color: #795548;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    margin-top: 5rem; }
  .login .line-backgound {
    position: absolute;
    top: 20%;
    left: 0;
    height: 60%;
    width: 100%;
    background-image: url("/img/wood_banch.jpg");
    background-size: 100%; }
  .login .btn-coffee {
    background-color: #8d6e63;
    color: #000;
    font-size: 1em;
    font-weight: bold; }
    .login .btn-coffee:hover {
      text-decoration: none; }
  .login .island .main-col {
    position: relative;
    width: 65%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1.875rem; }
    .login .island .main-col .reg-user {
      border-right: 1px solid #000; }
  .login .title h4 {
    word-break: break-all;
    font-size: 1.5em;
    text-transform: uppercase; }

.login-nav {
  position: absolute;
  top: 10px; }
  .login-nav ul {
    padding: 0;
    list-style: none; }
  .login-nav ul li {
    float: left;
    width: 100px;
    line-height: 25px; }
  .login-nav ul ul {
    display: none;
    margin-left: 1.25rem; }
    .login-nav ul ul li {
      font-family: ChunkFive;
      font-size: 1.05em; }
  .login-nav li:hover > ul {
    display: block; }
  .login-nav .btn-offbutton {
    vertical-align: middle;
    margin-right: 25px;
    margin-left: 25px;
    float: left;
    margin-top: 15px;
    transition: all 0.25s ease 0s;
    width: 24px;
    height: 25px;
    display: block; }
    .login-nav .btn-offbutton .sep-bar {
      width: 27px;
      height: 3px;
      background-color: #000;
      margin-bottom: 6px;
      border-left: medium none;
      border-right: medium none;
      background: none repeat scroll 0% 0% #000;
      transition: all 0.25s ease 0s; }
  .login-nav .btn-offbutton:hover .top {
    transform: translateY(-5px); }
  .login-nav .btn-offbutton:hover .bottom {
    transform: translateY(5px); }
