<link rel="stylesheet" href="css/articles.css">
<div class="articles-module">
    <!-- NAV BAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <!--SEARCH INPUT -->
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="button" class="btn btn-danger">Search</button>
        </form>

        <!-- LOGIN OR REGISTER -->

  <p ng-show="loginShow" class="navbar-text navbar-right a-nav-right">
    <a href="#signin" class="navbar-link">
      SIGN IN
    </a>
    <span>/</span>
    <a href="#login" class="navbar-link">
      LOGIN
    </a>
  </p>

<p ng-show="coffeerName">
  <a href="#profile">{{coffeerName}}</a>
</p>

    </nav>

    <div class="atc-splash">
      <div class="backgroud">
        <div class="picture"></div>
        <div class="overlay"></div>
        <div class="title animated fadeInUp">
          <div class="text">
            <h1>
              Coffee Articles
            </h1>
          </div>
        </div>
        <div class="inner-circle">
          <div class="picture"></div>
        </div>

      </div>
    </div>


</div>
