<div id="blog-splash" class="splash">
  <img src="/img/blogsplash.jpg">
  <div class="mask">
    <h1 class="center-text">Blog</h1>
    <p class="center-text">Petroleum and coffee had no value a few centuries ago. </p>
  </div>
</div>

<div class="decoration-line"></div>

<br />

<div class="row" id="blogs">
  <div class="col-lg-9">
    <div id="articles">

      <div class="list-container">

        <ul class="list panel radius">

          <li class="coffee-article-li">
            <div class="coffee-articles">
              <div class="row">
                <div class="col-lg-3 article-pthumbs">
                  <a href="#blogs/1"><img  class="coffee-blog-circle circle" src="/img/blogs/1/blogcircle.jpg" /></a>
                </div>

                <div class="col-lg-3">
                  <h1 class="article-title"><a href="#blogs/1">How To Make AeroPress Coffee (Two Ways!)</a></h1>
                  <hr/>
                  <h4 class="article-author">thekitchn.com</h4>
                </div>

                <div class="col-lg-6">
                  <a>
                    <p class="article-preview">
                      A good cup of coffee is an essential part of my morning, and there are many ways to achieve this necessity. Drip coffee makers, single-cup brewers, the French press. But if I had to choose just one way to make coffee, one that delivered good taste and convenience without much expense, I would have to go with the AeroPress — a strange-looking little gadget that produces a superb cup of coffee.

                      ......
                    </p>
                  </a>
                </div>

              </div>
            </div>
          </li>

          <li class="coffee-article-li">
            <div class="coffee-articles">
              <div class="row">
                <div class="col-lg-3 article-pthumbs">
                  <a href="#blogs/2"><img  class="coffee-blog-circle circle" src="/img/blogs/2/blogcircle.jpg" /></a>
                </div>

                <div class="col-lg-3">
                  <h1 class="article-title"><a href="#blogs/2">法压壶怎么泡出香浓美味咖啡</a></h1>
                  <hr/>
                  <h4 class="article-author">百分HOW</h4>
                </div>

                <div class="col-lg-6">
                  <a>
                    <p class="article-preview">
                      当我们回头看看每个有咖啡陪伴的清晨，那种简单的快乐和安详是不言而喻的。法压壶是简单、便宜的制作完美咖啡的方法之一，这里我们就一步一步教大家如何用法压壶做出一杯好咖啡。

                      ......
                    </p>
                  </a>
                </div>

              </div>
            </div>
          </li>

        </ul>

      </div>

    </div>
</div>

  <div class="col-lg-3" id="categories" ng-pin container="#blogs">
    <div>
      <h2>CATEGORIES</hh2>
      <ul>
        <li><a>Tips</a></li>
        <li><a>Cook</a></li>
        <li><a>Material</a></li>

      </ul>
    </div>
  </div>

</div>

<section class="pagination">

</section>
