

<div class="decoration-line"></div>
<br />

<div class="row">

  <div class="col-md-5 col-sm-6 col-md-offset-1 hidden-xs">

    <div class="coffee-cirecle-splash">
      <img src="img/signincircle.jpg"  class="circle center"/>

    </div>


  </div>

  <div class="col-md-4 col-sm-5 col-xs-8 col-xs-offset-2 col-sm-offset-0">

    <div id="login-form">

      <form name="loginForm" ng-submit="loginToCoffee()">
        <div class="form-group">
          <label for="base-form-input">Username or Email</label>
          <input id="username" name="username" type="text" class="form-control" placeholder="Text input"
                 ng-model="login.username" ng-class="{'feedback-error': loginForm.username.$dirty && loginForm.username.$invalid, 'feedback-correct': 1 && login.username}"
                 ng-minlength=3 ng-maxlength=100 required>
          <div class="error-container red" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
            <small class="error" ng-show="loginForm.username.$error.required">Please input a username</small>
            <small class="error" ng-show="loginForm.username.$error.minlength">Your username or password  is required to be at least 3 characters</small>
            <small class="error" ng-show="loginForm.username.$error.maxlength">Your username or password cannot be longer than 100 characters</small>
          </div>
        </div>

        <div class="form-group">
          <label for="base-form-input">Password</label>
          <input id="password" type="password" name="password" class="form-control" placeholder="Text input"
                 max-length="100" ng-model="login.password" equals="{{password_v}}" ng-class="{'feedback-error': loginForm.password.$dirty && loginForm.password.$invalid,  'feedback-correct': 1 && login.password}"
                 ng-minlength=6 ng-maxlength=30 required>
          <div class="error-container red" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
            <small class="error" ng-show="loginForm.password.$error.required">Please input a password</small>
            <small class="error" ng-show="loginForm.password.$error.minlength">Your password is required to be at least 6 characters</small>
            <small class="error" ng-show="loginForm.password.$error.maxlength">Your password cannot be longer than 30 characters</small>
          </div>
        </div>

        <div style="position: relative;">
          <input type="submit" class="btn transparent" ng-click="loginToCoffee()" ng-tap="loginToCoffee()"  value="Login"> <a href="/#signup" id="login-haveaaccount">Have't' an account?</a>
        </div>

      </form>

    </div>




  </div>
</div>

