
<div class="decoration-line"></div>
<br />

<div class="row">
  <div class="col-lg-5 col-lg-offset-1">
    <div class="coffee-cirecle-splash">
      <img src="img/logincircle.jpg"  class="circle center"/>
    </div>
  </div>

  <div class="col-lg-4">
    <div id="signin-form">
      <form>

        <div class="form-group">
          <label for="base-form-input">Username</label>
          <input id="base-form-input" type="text" class="form-control" placeholder="Text input">
        </div>

        <div class="form-group">
          <label for="base-form-input">Password</label>
          <input id="base-form-input" type="password" class="form-control" placeholder="Text input">
        </div>

        <div class="form-group">
          <label for="base-form-input">Password Verification</label>
          <input id="base-form-input" type="password" class="form-control" placeholder="Text input">
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label for="base-form-input">Captcha</label>
              <input id="base-form-input" type="text" class="form-control" placeholder="Text input">
            </div>
          </div>

          <div class="col-lg-5">

          </div>
        </div>


        <div>
          <a class="btn transparent">Sign In</a>
          <a class="signin-haveanccount">Have a account?</a>
        </div>

      </form>


    </div>

  </div>

</div>

