<!--MAIN-->

<!-- HEADER -->
<div class="header">
  <div class="left">
    <div class="logo">
      <h2>
        CoffeeClub
      </h2>
    </div>
  </div>
  <div class="right">

  </div>
</div>

<!-- MOBILE HEADER -->
<div class="mobile-header">
</div>

<!-- SPLASH -->
<div class="splash">

</div>

<!-- PROJECT -->
<div class="project">

    <div class="project-title">
        <div class="wrap">
            <h2>Aby Studio</h2>
            <div class="sep">
                <span></span>
            </div>
            <div class="title">
                Sleep is a symptom of
                <br /> caffeine deprivation
            </div>
        </div>
    </div>

    <!-- project list -->
    <div class="list-project">
        <div class="wrap">
            <div class="row">
                <div class="col-md-8 col-sm-6 p-item">
                    <a>
                        <div id="p-article" class="thumb"></div>
                        <div class="overlay">
                            <div class="p-title">
                                <div class="categories">
                                    <span class="sep"></span>
                                    <span class="content">
                                Articles
                              </span>
                                </div>
                                <div class="desc">
                                    About coffee articles
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 p-item">
                    <a>
                        <div id="p-bbs" class="thumb"></div>
                        <div class="overlay">
                            <div class="p-title">
                                <div class="categories">
                                    <span class="sep"></span>
                                    <span class="content">
                                BBS
                              </span>
                                </div>
                                <div class="desc">
                                    We forum about coffee
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6  p-item">
                    <a>
                        <div id="p-wiki" class="thumb"></div>
                        <div class="overlay">
                            <div class="p-title">
                                <div class="categories">
                                    <span class="sep"></span>
                                    <span class="content">
                                Wiki
                              </span>
                                </div>
                                <div class="desc">
                                    Built by everyone
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-8 col-sm-6 p-item">
                    <a>
                        <div id="p-shop" class="thumb"></div>
                        <div class="overlay">
                            <div class="p-title">
                                <div class="categories">
                                    <span class="sep"></span>
                                    <span class="content">
                                Shop
                              </span>
                                </div>
                                <div class="desc">
                                    Coffee shop, enjoy it
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <!-- button(let us know something) -->
    <div class="p-button">
      <a>
        <span class="bg"></span>
        <span class="text">
          let us know something
        </span>
      </a>
    </div>


    <!-- FOOTER -->
    <div class="dash-footer">
      <div class="footer-inner">
        <div class="footer-wrap">
          <div class="footer-title">
            <h2>
              CoffeeClub
            </h2>
          </div>
          <div class="sep">
          <span></span>
          </div>
          <div class="content">
            <span>CoffeeClub@Coffee.com</span>
          </div>
        </div>

      </div>
    </div>

</div>



<!-- MAIN END -->
