<!--MAIN-->

<!-- HEADER -->
<div class="header">
</div>

<!-- SPLASH -->
<div class="splash">

</div>

<!-- PROJECT -->
<div class="project">

  <div class="project-title">
    <div class="wrap">
      <h2>Aby Studio</h2>
      <div class="sep">
        <span></span>
      </div>
      <div class="title">
        Sleep is a symptom of
        <br />
        caffeine deprivation
      </div>
    </div>
  </div>

  <div class="list-project">
    <div class="wrap">
      <div class="row">
        <div id="p-article" class="col-md-8 col-sm-6 thumb p-item"></div>
        <div id="p-bbs" class="col-md-4 col-sm-6 thumb p-item"></div>
        <div id="p-wiki" class="col-md-4 col-sm-6 thumb p-item"></div>
        <div id="p-shop" class="col-md-8 col-sm-6 thumb p-item"></div>
      </div>

    </div>
  </div>

</div>
