<div id="forum-splash" class="splash">
  <img src="/img/forumsplash.jpg">
  <div class="mask">
    <h1 class="center-text">Forum</h1>
    <p class="center-text">There's nothing sweeter than a cup of bitter coffee. </p>
  </div>
</div>

<br />
<br />

<div class="row">
  <div class="col-sm-10 col-center">

    <div id="forum-header">
      <a class="btn transparent">New Topics</a>
    </div>
    <br />
    <hr />
    <div class="row center-text" id="forum-table-header">
      <div class="col-lg-5"><p>Topics</p></div>
      <div class="col-lg-2"><p>Author</p></div>
      <div class="col-lg-2"><p>Comments</p></div>
      <div class="col-lg-3"><p>Last Post</p></div>
    </div>

    <hr>



  </div>
</div>
