

  <div id="home-splash" class="splash">
    <img src="/img/homesplash.jpg">
    <div class="mask">
      <h1 class="center-text">Coffee Club</h1>
      <p class="center-text">Coffee has two virtues: it is wet and warm.</p>
    </div>
  </div>

  <div class="decoration-line"></div>

  <br />
  <!-- HOME-PORJECT-SHOW -->
  <div class="home-project">
    <div class="row">
      <div class="col-lg-10 col-center">

        <!-- FIRST LINE -->
        <div class="row">
          <div class="col-lg-8">
            <div class="card cover">
              <a href="#blog">
                <div class="card-picture">
                  <img alt="Blog" src="/img/project_blog.jpg">
                </div>
                <div class="card-overlay">
                  <div class="p-title">
                    <div class="categories">
                      <span class="sep"></span>
                      <span class="content">
                        Articlesz
                      </span>
                    </div>
                    <div class="desc">
                      About coffee articles
                    </div>
                  </div>
                  </div>
              </a>
            </div>

          </div>

          <div class="col-lg-4">
            <div class="card cover">
              <a href="#forum">
                <div class="card-picture">
                  <img alt="Forum" src="/img/project_bbs.jpg">
                </div>
                <div class="card-overlay">
                  <div class="p-title">
                    <div class="categories">
                      <span class="sep"></span>
                      <span class="content">
                        Articlesz
                      </span>
                    </div>
                    <div class="desc">
                      About coffee articles
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- FIRST LINE -->

        <!-- SECOND LINE -->
        <div class="row">
          <div class="col-lg-4">
            <div class="card cover">
              <a href="#wiki">
                <div class="card-picture">
                  <img alt="Form" src="/img/project_wiki.jpg">
                </div>
                <div class="card-overlay">
                  <div class="p-title">
                    <div class="categories">
                      <span class="sep"></span>
                      <span class="content">
                        Articlesz
                      </span>
                    </div>
                    <div class="desc">
                      About coffee articles
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>


          <div class="col-lg-8">
            <div class="card cover">
              <a href="#shop">
                <div class="card-picture">
                  <img alt="Form" src="/img/project_shop.jpg">
                </div>
                <div class="card-overlay">
                  <div class="p-title">
                    <div class="categories">
                      <span class="sep"></span>
                      <span class="content">
                        Articlesz
                      </span>
                    </div>
                    <div class="desc">
                      About coffee articles
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- HOME-PORJECT-SHOW -->


  <!-- button(let us know something) -->
  <div class="p-button">
    <a>
      <span class="bg"></span>
      <span class="text">
        let us know something
      </span>
    </a>
  </div>
