<link rel="stylesheet" href="css/login.css">

<div class="login">

<div class="login-nav">
<ul>
  <li class="bread">
    <div class="coffee-breadcrumb">
      <div class="btn-offbutton">
        <div class="sep-bar top"></div>
        <div class="sep-bar middle"></div>
        <div class="sep-bar bottom"></div>
        <a class="coffee_location" href="/">
          Home
          <span class="ss-icon ss-gizmo ss-navigatedown">
          </span>
        </a>
      </div>



    <ul id="dropdownmenu" class="dropdownmenu">
      <li><a href="https://www.v76.com/">Home</a></li>
      <li><a href="http://www.v76.com/the-collection.html">The Collection</a></li>
      <li><a href="http://www.v76.com/well-groomed/">Well Groomed (Blog)</a></li>
      <li><a href="http://www.v76.com/lookbook">Lookbook</a></li>
      <li><a href="http://www.v76.com/about">About</a></li>
      <li><a href="http://www.v76.com/become-a-purveyor">Become A Purveyor</a></li>
      <li><a href="http://www.v76.com/delivery-and-returns">Delivery &amp; Returns</a></li>
      <li><a href="http://www.v76.com/contact">Contact</a></li>
    </ul>
    </div>
  </li>

</ul>


</div>

  <h1 class="big-title">Login or Create an Account </h1>
  <div class="line-backgound"></div>

    <!-- ISLAND -->
    <div class="island">

        <!-- PANEL -->
        <div class="main-col panel panel-default animated fadeInDown">

            <div class="row">
                <!-- LEFT -->
                <div class="col-sm-7 reg-user">

                    <div class="title">
                        <h4>
              Registered Coffeers
            </h4>
                        <p>
                            If you have an account with us, log in using your email address.
                        </p>
                    </div>
                    <br/>
                    <div class="form">
                        <div class="row">
                            <div class="col-sm-9">

                                <div class="form-group required">
                                    <label class="control-label" for="id_name">
                                        *Email & surname
                                    </label>
                                    <div class="controls">
                                        <input id="name" class="form-control correct-check" type="text" name="name" maxlength="255"></input>
                                        <label class="control-label" for="id_name">
                                            *Password
                                        </label>
                                    </div>

                                    <br/>
                                    <div class="controls">
                                        <input id="password" class="form-control error-check" type="password" name="name" maxlength="255"></input>
                                        <div class="help-text name"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12">
                                <div class="lostpasswd">
                                    <a class="text-center">Forgot Your Password?</a>
                                </div>
                                <br />
                                <div class="login-btn">
                                    <button class="btn btn-coffee">
                                        Login
                                    </button>
                                </div>

                                <br/>
                                <div>
                                    <p>* Required Fields</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- END LEFT -->

                <!-- RIGHT -->
                <div class="col-sm-5 new-user">
                    <div class="title">
                        <h4>
              New Coffeer
            </h4>
                        <br/>
                        <p>
                            By creating an account with our club, you will be able to move through the checkout coffee articles faster, talking in our forum, view and track your post in your account and more.
                        </p>
                    </div>
                    <br/>
                    <a href="/#/signin">
                        <button class="btn btn-coffee">REGISTER</button>
                    </a>
                </div>
                <!-- END RIGHT -->
            </div>
            <!-- END PANEL -->
        </div>
        <!-- END ISLAND -->
    </div>
