<div id="shop-splash" class="splash">
    <img src="/img/shopsplash.jpg">
    <div class="mask">
        <h1 class="center-text">Shop</h1>
        <p class="center-text">I orchestrate my mornings to the tune of coffee. </p>
    </div>
</div>

<div class="decoration-line"></div>

<br />
<!-- merchandise -->
<div id="shop-merchandise">

    <hr class="horizon-hr" />
    <div class="row">
      <div class="col-md-6 vertical-left-block">

        <div class="center-wrap shop-center-wrap">
                <div class="card production">
                  <div class="production-show">
                    <img alt="" src="/img/production1.jpg" id="shop-production1"/>
                  </div>
                  <div class="production-detail center-text">
                    <p class="shop-production-name">KONA COFFEE</p>
                    <p class="shop-production-text">On Sale <span>￥199</span></p>
                    <p class=""><del>￥255</del></p>
                    <p class="pink"><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></p>
                  </div>
                  <div class="production-action center-text">
                    <a href="/#order/1" class="btn transparent strong">Buy Now</a>
                  </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="center-wrap shop-center-wrap">
              <div class="card production">
                <div class="production-show">
                  <img alt="" src="/img/production2.jpg" id="shop-production1"/>
                </div>
                <div class="production-detail center-text">
                  <p class="shop-production-name">KURUKAHVECI</p>
                  <p class="shop-production-text">On Sale <span>￥199</span></p>
                  <p class=""><del>￥255</del></p>
                  <p class="pink"><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i></p>
                </div>
                <div class="production-action center-text">
                  <a  href="/#order/2" class="btn transparent strong">Buy Now</a>
                </div>
              </div>
            </div>


        </div>
    </div>
    <hr class="horizon-hr" />
</div>
<!-- merchandise -->
