<link rel="stylesheet" href="css/signin.css">


<div class="signin">
    <div class="coffee-header">
        <div class="aid-head">
          <p>
             Free overnight shipping on all orders over R650
          </p>
        </div>
        <div class="location-nav">
          <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
            <li><a href="#">Home</a></li>
            <li class="active">Register</li>
          </ol>
        </div>

        <div class="logo">
            <img src="/img/coffee_logo.png" class="picture" />
        </div>

        <div class="coffee-nav">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Articles</a></li>
                <li role="presentation"><a href="#">Forum</a></li>
                <li role="presentation"><a href="#">Wiki</a></li>
                <li role="presentation"><a href="#">Shop</a></li>
            </ul>
        </div>
    </div>

    <div class="jumbotron reg-main">
        <form>
            <div class="row">
                <div class="col-sm-7">
                    <fieldset class="base">
                        <legend>
                            <span>Base:</span>
                        </legend>

                        <div class="form-group required">
                            <label class="control-label" for="id_name">
                                Name & surname
                            </label>
                            <div class="controls">
                                <input id="name" class="form-control" type="text" name="coffee-name" maxlength="255"></input>
                                <div class="help-text name"></div>
                            </div>
                        </div>

                        <div class="form-group required">
                          <label class="control-label" for="id_name">
                            Password
                          </label>
                          <div class="controls">
                            <input id="password" class="form-control" type="password" name="password" maxlength="255"></input>
                            <div class="help-text name"></div>
                          </div>
                        </div>

                        <div class="form-group required">
                          <label class="control-label" for="id_name">
                            Password Verification
                          </label>
                          <div class="controls">
                            <input id="password_verification" class="form-control" type="password" name="password" maxlength="255"></input>
                            <div class="help-text name"></div>
                          </div>
                        </div>

                        <div class="form-group required">
                          <label class="control-label" for="id_name">
                            Email
                          </label>
                          <div class="controls">
                            <input id="email" class="form-control" type="email" name="password" maxlength="255"></input>
                            <div class="help-text name"></div>
                          </div>
                        </div>

                    </fieldset>

                     <fieldset class="optional">
                        <legend>
                            <span>Optional:</span>
                        </legend>

                        <div class="form-group required">
                            <label class="control-label" for="id_name">
                                Name & surname
                            </label>
                            <div class="controls">
                                <input id="name" class="form-control" type="text" name="coffee-name" maxlength="255"></input>
                                <div class="help-text name"></div>
                            </div>
                        </div>

                        <div class="form-group required">
                          <label class="control-label" for="id_name">
                            Password
                          </label>
                          <div class="controls">
                            <input id="password" class="form-control" type="password" name="password" maxlength="255"></input>
                            <div class="help-text name"></div>
                          </div>
                        </div>

                        <div class="form-group required">
                          <label class="control-label" for="id_name">
                            Password Verification
                          </label>
                          <div class="controls">
                            <input id="password_verification" class="form-control" type="password" name="password" maxlength="255"></input>
                            <div class="help-text name"></div>
                          </div>
                        </div>

                        <div class="form-group required">
                          <label class="control-label" for="id_name">
                            Email
                          </label>
                          <div class="controls">
                            <input id="email" class="form-control" type="email" name="password" maxlength="255"></input>
                            <div class="help-text name"></div>
                          </div>
                        </div>

                    </fieldset>

                </div>
                <div class="col-lg-5">
                  <img src="/img/profile-avatars.png" class="sigin-picture"/>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-5">
                    <button class="btn account-btn">
                        Register<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

        </form>
    </div>

    <div class="after-main">
      <a href="/#/login">HAVE A ACCOUNT?</a>
    </div>

    <br />
    <div class="signin-footer">
      <img src="/img/handcut-label.png"/>
    </div>
</div>
