<link rel="stylesheet" href="css/signin.css">


<div class="signin">
  <div class="coffee-header">
    <div class="aid-head">
      <p>
        Free overnight shipping on all orders over R650
      </p>
    </div>
    <div class="location-nav">
      <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li><a href="#">Home</a></li>
        <li class="active">Register</li>
      </ol>
    </div>

    <div class="logo">
      <img src="/img/coffee_logo.png" class="picture" />
    </div>

    <div class="coffee-nav">
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Articles</a></li>
        <li role="presentation"><a href="#">Forum</a></li>
        <li role="presentation"><a href="#">Wiki</a></li>
        <li role="presentation"><a href="#">Shop</a></li>
      </ul>
    </div>
  </div>

  <div class="jumbotron reg-main">
    <form name="signinForm" class="form" ng-submit="register()">
      <div class="row">
        <div class="col-lg-7 col-sm-12  left-side">
          <fieldset class="fieldset">
            <legend>
              <span>Base:</span>
            </legend>

            <div class="form-group required">
              <label class="control-label" for="id_name">
                Name & surname
              </label>
              <div class="controls">
                <input
                   id="name"
                   name="username"
                   class="form-control"
                   type="text"
                   ng-model="signin.username"
                   ng-class="{error_check: signinForm.username.$dirty && signinForm.username.$invalid,
                             correct_check: 1 && signin.username}"
                   ng-minlength=3
                   ng-maxlength=20
                   required />
                <div class="error-container" ng-show="signinForm.username.$dirty && signinForm.username.$invalid">
                  <small class="error" ng-show="signinForm.username.$error.required">Please input a username</small>
                  <small class="error" ng-show="signinForm.username.$error.minlength">Your username is required to be at least 3 characters</small>
                  <small class="error" ng-show="signinForm.username.$error.maxlength">Your username cannot be longer than 20 characters</small>
                  <small class="error" ng-show="signinForm.username.$error.unique">That username is taken, please try another</small>
                </div>
              </div>
            </div>

               <div class="form-group required">
              <label class="control-label" for="id_name">
               Real Name
              </label>
              <div class="controls">
                <input
                   id="name"
                   name="realname"
                   class="form-control"
                   type="text"
                   ng-model="signin.realname"
                   ng-class="{error_check: signinForm.realname.$dirty && signinForm.realname.$invalid,
                             correct_check: 1 && signin.realname}"
                   ng-minlength=2
                   ng-maxlength=20
                   required />
                <div class="error-container" ng-show="signinForm.realname.$dirty && signinForm.realname.$invalid">
                  <small class="error" ng-show="signinForm.name.$error.required">Please input your realname</small>
                  <small class="error" ng-show="signinForm.name.$error.minlength">Your username is required to be at least 2 characters</small>
                  <small class="error" ng-show="signinForm.name.$error.maxlength">Your username cannot be longer than 20 characters</small>
                </div>
              </div>
            </div>

            <div class="form-group required">
              <label class="control-label" for="id_name">
                Password
              </label>
              <div class="controls">
                <input id="password"
                       class="form-control"
                       type="password"
                       name="password"
                       maxlength="255"
                       ng-model="signin.password"
                       equals="{{password_v}}"
                        ng-class="{error_check: signinForm.password.$dirty && signinForm.password.$invalid,
                                 correct_check: 1 && signin.password}"
                       ng-minlength=6
                       ng-maxlength=20
                       required></input>
                <div class="error-container" ng-show="signinForm.password.$dirty && signinForm.password.$invalid">
                  <small class="error" ng-show="signinForm.password.$error.required">Please input a password</small>
                  <small class="error" ng-show="signinForm.password.$error.minlength">Your username is required to be at least 6 characters</small>
                  <small class="error" ng-show="signinForm.password.$error.maxlength">Your username cannot be longer than 20 characters</small>
                  <small class="error" ng-show="signinForm.password.$error.equals">password not match</small>
                </div>
              </div>
            </div>

            <div class="form-group required">
              <label class="control-label" for="id_name">
                Password again
              </label>
              <div class="controls">
                <input id="password"
                       class="form-control"
                       type="password"
                       name="password_v"
                       maxlength="255"
                       ng-class="{error_check: signinForm.password_v.$dirty && signinForm.password_v.$invalid,
                                 correct_check: 1 && password_v}"
                       ng-model="password_v"
                       equals="{{signin.password}}"
                       ng-minlength=6
                       ng-maxlength=20
                       required></input>
                <div class="error-container" ng-show="signinForm.password_v.$dirty && signinForm.password_v.$invalid">
                  <small class="error" ng-show="signinForm.password_v.$error.required">Please input a username</small>
                  <small class="error" ng-show="signinForm.password_v.$error.minlength">Your username is required to be at least 6 characters</small>
                  <small class="error" ng-show="signinForm.password_v.$error.maxlength">Your username cannot be longer than 20 characters</small>
                  <small class="error" ng-show="signinForm.password_v.$error.equals">password not match</small>
                </div>
              </div>
            </div>


            <div class="form-group required">
              <label class="control-label" for="id_name">
                Email
              </label>
              <div class="controls">
                <input
                   id="email"
                   class="form-control"
                   type="email"
                   name="email"
                   ng-class="{error_check: signinForm.email.$dirty && signinForm.email.$invalid,
                             correct_check: 1 && signin.email}"
                   maxlength="255"
                   ng-model="signin.email"
                   ng-minlength=6
                   ng-maxlength=50
                   required></input>
                <div class="error-container" ng-show="signinForm.email.$dirty && signinForm.email.$invalid">
                  <small class="error" ng-show="signinForm.email.$error.required">Please input a email</small>
                  <small class="error" ng-show="signinForm.email.$error.minlength">Your username is required to be at least 6 characters</small>
                  <small class="error" ng-show="signinForm.email.$error.maxlength">Your username cannot be longer than 50 characters</small>
                </div>
              </div>
            </div>

          </fieldset>

          <fieldset class="fieldset">
            <legend>
              <span>Optional:</span>
            </legend>

            <div class="form-group required">
              <label class="control-label" for="id_name">
                Name & surname
              </label>
              <div class="controls">
                <input id="name" class="form-control" type="text" name="coffee-name" maxlength="255"></input>
                <div class="help-text name"></div>
              </div>
            </div>

            <div class="form-group required">
              <label class="control-label" for="id_name">
                Password
              </label>
              <div class="controls">
                <input id="password" class="form-control" type="password" name="password" maxlength="255"></input>
                <div class="help-text name"></div>
              </div>
            </div>

            <div class="form-group required">
              <label class="control-label" for="id_name">
                Password Verification
              </label>
              <div class="controls">
                <input id="password_verification" class="form-control" type="password" name="password" maxlength="255"></input>
                <div class="help-text name"></div>
              </div>
            </div>

            <div class="form-group required">
              <label class="control-label" for="id_name">
                Email
              </label>
              <div class="controls">
                <input id="email" class="form-control" type="email" name="password" maxlength="255"></input>
                <div class="help-text name"></div>
              </div>
            </div>

          </fieldset>

        </div>
        <div class="col-md-5 visible-lg profile-avatars">
          <img src="/img/profile-avatars.png" class="sigin-picture" />
        </div>
      </div>


      <div class="row">
        <div class="col-md-5 col-sm-8">
          <button type="submit" class="btn account-btn">
            Register<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
          </button>
        </div>
      </div>

    </form>
  </div>

  <div class="after-main">
    <a href="/#/login">HAVE A ACCOUNT?</a>
  </div>

  <br />
  <div class="signin-footer">
    <img src="/img/handcut-label.png" />
  </div>
</div>
