<div class="article-content">
  <h1 class="title">How To Make AeroPress Coffee (Two Ways!)</h1>

  <h3 class="sub-title"><a>COOKING LESSONS FROM THE KITCHN</a></h3>

  <p class="author"><a href="http://www.thekitchn.com/how-to-make-aeropress-coffee-two-ways-cooking-lessons-from-the-kitchn-210815#_">thekitchn.com</a></p>

  <p class="public-time">JUN 11, 2015</p>

  <div class="content">

    <img src="/img/blogs/1/c1.jpg">

    <p>
      A good cup of coffee is an essential part of my morning, and there are many ways to achieve this necessity. Drip coffee makers, single-cup brewers, the French press. But if I had to choose just one way to make coffee, one that delivered good taste and convenience without much expense, I would have to go with the AeroPress — a strange-looking little gadget that produces a superb cup of coffee.
    </p>
    <p>
      The AeroPress is inexpensive and so, so fast. Here's how to use one!
    </p>

    <img src="/img/blogs/1/c2.jpg">

    <h2>What Is the AeroPress?</h2>

    <p>
      The AeroPress is a simple gadget that was invented about 10 years ago by an engineer, physicist, and Stanford lecturer named Alan Adler. (Read more of his story at Fast Company.) He was impatient with the difficulty of making just one good cup of coffee in a drip coffee maker, and also with the time it took to do a pour over, which takes about 4 minutes. He tinkered around and came up with a distinctly non-sexy tool that quickly pressed hot water through the coffee.
    </p>
    <p>
      This plastic gadget surprised Adler with its ease, but also with the taste of the coffee. He developed a fine paper filter that gave a very clean cup of coffee, without bitterness or the sludge that ends up at the bottom of French press coffee. He started producing the kit commercially and it became a cult success among coffee lovers. He initially marketed it as an espresso maker, but fortunately he dropped that, as it really produces strong, concentrated coffee — not true espresso.
    </p>

    <h2>6 Reasons the AeroPress Is a Great Way to Make Coffee</h2>

    <p>The AeroPress has a lot of advantages.</p>

    <ol>
      <li>First of all, it's much less fussy than other ways of brewing coffee. Unlike the French press, you don't need a burr grinder, and unlike pour over, no special technique is necessary. Just pour and push.</li>
      <li>It's also inexpensive; a full set of AeroPress gear, including a year's supply of filters, retails for about $25.</li>
      <li>The AeroPress is light and durable. With no glass to crack, it's a good option for travel.</li>
      <li>It's very fast. No steeping or long pouring. I can make a cup of coffee in about 60 seconds once the water is hot.</li>
      <li>The AeroPress produces a fantastic cup of coffee with clear, clean flavors. If you're interested in really tasting interesting coffees and the differences between different roasts and beans, the AeroPress lets flavors come through distinct and crisp.</li>
      <li>Last but not least the cleanup is so easy. Unlike the French press, where you have to scoop out all those grounds, the AeroPress cap comes off and you simply press out the puck of compressed grounds into the compost or trash. Give the whole thing a rinse and you're done.</li>

    </ol>

    <p>
      Any drawbacks? It only makes one or two cups at a time, so it's not the right tool to pull out for a group of people at brunch in the morning. And it's certainly not very pretty, but its hospital-style plastic has a certain geeky charm.
    </p>

    <img src="/img/blogs/1/c3.jpg">

    <h2>Find an AeroPress</h2>

    <p>
      I remember when these used to be hard to find! You can easily buy them on Amazon and you can also find them in local coffee shops.
    </p>

    <p>
      An Aeropress comes with several odd-looking accessories, and it might feel complicated at first, but it's really quite simple. Here's what you get:
    </p>

    <ul>
      <li>The AeroPress itself, a plastic plunger</li>
      <li>A cap for the end of the plunger</li>
      <li>Filters that go in the cap</li>
      <li>A coffee scoop measure</li>
      <li>A funnel for getting coffee grounds neatly into the chamber</li>
      <li>A paddle for stirring</li>
    </ul>

    <img src="/img/blogs/1/c4.jpg">

    <h2>What's Important in Making AeroPress Coffee?</h2>

    <p>
      Like I said, Aeropress is way simpler than many other methods of making coffee. It's foolproof, and when it comes to coffee, that's saying something.
    </p>

    <p>
      However, you still need to be careful about water temperature. Boiling water will make your coffee bitter. It's important use water that's hot but not boiling. To do this, boil your water and take it off the heat for about 1 minute before using. (If you do want to be precise, I aim for 195°F, although the AeroPress inventor recommends an even lower temperature of 175°F.)
    </p>

    <p>
      As always, you want to use quality beans that have been roasted recently. But you don't need a burr grinder (unlike French press). A cheap blade grinder does just fine. Or just have your coffee ground when you buy the beans. For AeroPress you'll want the coffee ground fine, like for drip coffee.
    </p>

    <p>
      OK, time to make some coffee — I promise that just explaining how to do this is way more time-consuming than actually making a cup of AeroPress coffee!
    </p>

    <div class="text-panel">
      <h2>The Inverted Method</h2>
      <p>
        I'm going to show you two ways of using your AeroPress — the most basic and easy, and then a slight variation that lets the coffee steep for an extra minute in the chamber. Some people like to make their coffee even more robust and strong, and this extracts more flavor. It's not necessary, but it's fun to play with both methods to see which you like best!
      </p>
    </div>

    <br />

    <img src="/img/blogs/1/c5.jpg">
    <p><strong>Heat the water:</strong> Bring your water to a boil then let it cool for about 1 minute. (You're aiming for something in between 175°F and 195°F.)</p>

    <h2>How To Make Aeropress Coffee (Two Ways!)</h2>

    <p>Makes 1 to 2 cups</p>

    <h3>What You Need
      Ingredients</h3>

    <p>Water</p>
    <p>Whole coffee beans</p>

    <h3>Equipment</h3>

    <p>Kettle, stovetop or electric</p>
    <p>Aeropress, including scoop, funnel, and stirrer</p>
    <p>Coffee grinder</p>
    <p>Mug or small pitcher</p>
    <p>Timer, optional</p>

    <h3>The Original Method</h3>

    <ol>
      <li><strong>Heat the water:</strong>Bring your water to a boil then let it cool for about 1 minute. (You're aiming for something in between 175°F and 195°F.)</li>
      <li><strong>Grind the beans:</strong>Measure out 2 full AeroPress scoops of coffee beans (about 4 tablespoons) and grind until fine.</li>
      <li><strong>Wet the filter:</strong>Assemble the AeroPress with a paper filter inside the cap and place on top of a mug or cup. Drizzle a little warm water in to wet the filter.</li>
      <li><strong>Add the coffee:</strong>Place the funnel on top of the cup and pour in the coffee. Remove the funnel.</li>
      <li><strong>Add the water:</strong>Pour in coffee until it comes up to the top line on the AeroPress.</li>
      <li><strong>Stir:</strong>Use the paddle stirrer (or a spoon) to stir once, briefly.</li>
      <li><strong>Press:</strong>Insert the plunger. Firmly press down the plunger until you hear a long hiss.</li>
      <li><strong>Taste and dilute:</strong>Taste the coffee and if desired add more water. The AeroPress makes a concentrated cup of coffee and if desired you can split this amount between two cups and add a little more hot water.</li>

    </ol>

    <h3>The Upside-Down/Reverse Method</h3>

    <ol>
      <li><strong>Assemble the AeroPress upside-down: </strong>Heat the water and grind the coffee as described above. Assemble the AeroPress by putting plunger in the chamber. Flip upside-down but don't put the cap or filter on.</li>
      <li><strong>Pour in the coffee:</strong>Put the funnel in. Pour the ground coffee (from 2 AeroPress scoops of beans) into the the chamber.</li>
      <li><strong>Pour in the water:</strong>Add hot water until the chamber is almost full.</li>
      <li><strong>Stir once:</strong>Use the paddle (or a spoon) to stir once.</li>
      <li><strong>Steep for 1 minute:</strong>Try steeping for 1 minute, but adjust in future batches if this comes out too strong or too weak.</li>
      <li><strong>Put on the cap:</strong>Place a paper filter in the cap and screw tightly onto the chamber.</li>
      <li><strong>Flip over, carefully!</strong>Quickly and carefully flip the full AeroPress over so the cap is down, and place on a mug or pitcher.</li>
      <li><strong>Press:</strong>Press as directed above.</li>
      <li><strong>Taste and dilute:</strong>Again, taste and dilute if desired with more hot water.</li>
    </ol>

    <h3>Recipe Notes</h3>
    <ul>
      <li><strong>Funnel:</strong>The funnel looks a little goofy and it's not necessary, especially if you have a sure hand! But I like using it to get the grounds neatly into the narrow tube.</li>
      <li><strong>Mug or pitcher?</strong> You exert a lot of pressure when pressing the AeroPress, and while I've never broken a mug or cup while brewing, we've switched to using a metal coffee bar-style pitcher to press into.</li>
    </ul>

  </div>

</div>
