<div class="article-content">
  <h1 class="title">法压壶怎么泡出香浓美味咖啡</h1>

  <h3 class="sub-title"><a></a></h3>

  <p class="author"><a href="http://www.100how.com/food/xidian/2014-12-02/6685.html">100how.com</a></p>

  <p class="public-time">12-04</p>

  <div class="content">

    <img src="/img/blogs/2/c1.jpg"/>

    <p>当我们回头看看每个有咖啡陪伴的清晨，那种简单的快乐和安详是不言而喻的。法压壶是简单、便宜的制作完美咖啡的方法之一，这里我们就一步一步教大家如何用法压壶做出一杯好咖啡。</p>

    <h2>使用法压壶french press的优缺点</h2>

    <p>法压壶制作咖啡的方法，是先将咖啡粉末浸泡在热水中，然后压除粉末而得到其液体。</p>

    <p>自有滴流咖啡壶之后，法压壶是最简单省时的咖啡制作工具，特别是当为多人服务时，它比爱乐压壶就方便多了。但是因为它需要将咖啡粉直接浸泡在水里，比较容易导致制作出来的咖啡更苦更油感，这也让不少人望而却步。</p>

    <h2>使用法压壶french press的两个要素</h2>

    <p>有两个要素能决定法压壶咖啡的好坏：水温——过热的沸水会过度萃取咖啡粉，但是温度不够的话咖啡口感又不饱满；咖啡的研磨度——太细的咖啡粉末会导致法压壶咖啡浑浊并且发苦。</p>

    <p>因此，你需要了解的就是：咖啡要研磨到多细？水温要达到什么程度？</p>

    <p>关于水温，最简单的方法就是，当水煮到沸腾之后，将水壶拿离火炉（用电热水壶的话关掉电源），静置1分钟。这时的温度就正好。然后你就可以开始用它来制作咖啡了。</p>

    <p>接着说说研磨器。必须要挑选合格的研磨器，它才能研磨出适合不同机器的咖啡粉。法压壶需要的咖啡粉颗粒比较大，太细的咖啡粉会穿过它的滤网，在杯子里面形成沉淀，也会导致过度浸泡萃取从而让咖啡太苦。磨盘式咖啡研磨器能磨出颗粒大小一致的咖啡粉，十分适用于法压壶。</p>

    <p>百分HOW提示：如果你泡出来的咖啡苦得不同寻常，或在杯底有油油的沉淀产生，不妨将研磨器换成磨盘式的。或者找本地的咖啡店帮你磨好，商用的研磨器通常都比较可靠。</p>

    <img src="/img/blogs/2/c2.jpg"/>

    <h2>各种不同的法压壶技巧</h2>

    <p>在网上你能找到许多关于法压壶的使用技巧。但是个人认为不必去纠缠到底要泡30g还是40g的咖啡，或者是否应该对咖啡豆和水进行称重而非以体积衡量。如果你已是高手，自然一切融会贯通，整个过程中无需为这些细节所拘束，沉浸于你自己的喜悦和痴迷之中。但是如果你刚刚入门，则不必纠结，想怎么做就做好了，你想用电子称来称咖啡、称水；想让浸泡时间准确到分秒，都可以，每个人都这么过来的。</p>

    <p>只是现在我们不谈这些，我们只说一些基础的东西，毕竟到最终，万般辛苦费心之后也只是一杯咖啡而已。我们所希望的，是大家能使用尽量正确的步骤，得到真正属于自己的那份美妙的味道。</p>

    <h2>法压壶french press使用中水和咖啡的比例</h2>

    <p>　下面图解示范所用的是一个普通的法压壶，制作32盎司的咖啡液体，4人份。如果你想做得更多或略少怎么办？我们列出一些常用的比例。（百分HOW提示：咖啡豆是未研磨的量）</p>

    <p>1人份：1杯水（8液体盎司）+2汤匙咖啡豆</p>

    <p>　2人份：2杯水（16液体盎司）+1/4杯咖啡豆</p>

    <p>　4人份：4杯水（32液体盎司）+1/2杯咖啡豆</p>

    <h2>使用法压壶french press制作咖啡的方法</h2>

    <h4>所需的材料和工具：</h4>

    <p>1/2杯新鲜烘焙的咖啡豆、4杯冷水、磨盘式咖啡豆研磨器、法压壶（至少有32盎司的容量）、电热水壶、温度计（非必需）、汤匙。</p>

    <p>以上材料可制作32盎司咖啡液体，4人份。</p>

    <h4>font-face</h4>

    <img src="/img/blogs/2/c3.jpg"/>

    <p>1，量出所需的咖啡豆。这里要量出1/2杯的咖啡豆。</p>

    <img src="/img/blogs/2/c4.jpg"/>

    <img src="/img/blogs/2/c5.jpg"/>

    <p>2，研磨咖啡豆。用磨盘式研磨器最粗颗粒的一档来研磨。磨出来的咖啡要颗粒粗糙、大小差不多，不能有太多的细粉。行家认为，理想的颗粒大小应该像面包屑（怎么判断咖啡豆的研磨粗细？）。将这些磨好的咖啡粗粉倒入法压壶里。</p>

    <p>　3，煮沸水并静置1分钟。按你需要的份量量出水，这里量出4杯。法压壶所需的水温应该差不多195°F/90°C，临近沸水温度。将水用电热水壶加热到沸腾，然后关火静置1分钟（用炉火的则将水壶拿开静置）。想要精确温度的同学，可以用温度计来检查。</p>

    <img src="/img/blogs/2/c6.jpg"/>

    <p>4，加水。往法压壶里加入4杯水。</p>

    <img src="/img/blogs/2/c7.jpg"/>

    <p>5，搅拌。用力搅拌，上下方向搅拌。</p>

    <img src="/img/blogs/2/c8.jpg"/>

    <p>6，浸泡4分钟。只要4分钟就可以产生饱满香浓的咖啡。等你熟悉了整个过程之后，你就会自己明白，针对不同烘焙程度的咖啡豆，浸泡的时间有长有短，出来的味道也各有差别，取决于你的口感和兴趣。</p>

  </div>

</div>
