$backend: "http://10.42.0.30:8989";
$rem-base: 16px !default;
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base) {
    $value: strip-unit($value) / strip-unit($base-value) * 1rem;
    @if ($value==0rem) {
        $value: 0;
    } // Turn 0rem into 0
    @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
    $max: length($values);
    @if $max==1 {
        @return convert-to-rem(nth($values, 1), $base-value);
    }
    $remValues: ();
    @for $i from 1 through $max {
        $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
    }
    @return $remValues;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    line-height: inherit;
    vertical-align: baseline;
}

a,
a:hover,
a:active {
    outline: medium none;
    text-decoration: none;
}
/*---------ONLY BELOW NEW-----------*/

.articles-module {
    .navbar {
        background: {
            color: #b71c1c;
        }
        position: fixed;
        border: 0;
        .a-nav-right {
            padding: {
                right: rem-calc(20);
            }
            a {
                font: {
                    size: 17px;
                    weight: bold;
                }
                color: #CCCCFF;
            }
            a:hover {
                color: #FFFFFF;
            }
        }
    }
    /*----------SPLAASH------------*/

    .atc-splash {
        background: {
            color: #f44336;
        }
        height: rem-calc(230);
        width: 100%;
        top: 0;
        position: fixed;
        z-index: -1;
        .backgroud {
            .picture {
                width: 100%;
                height: 100%;
                position: absolute;
                background: {
                    image: url("/img/articles_splash_b.jpg");
                    size: 100% auto;
                }
            }
            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: {
                    color: rgba(52, 0, 0, 0.6);
                }
            }
            .title {
                z-index: 3;
                position: absolute;
                top: rem-calc(70);
                vertical-align: middle;
                text-align: center;
                left: rem-calc(-80);
                width: 100%;
                .text {
                    h1 {
                        font: {
                            family: GoodDog;
                            size: 8em;
                            weight: bold;
                        }
                        color: #CCCCCC;
                        text-shadow: 5px 5px #000000;
                    }
                }

            }

            .inner-circle {
                .picture {
                    z-index: 3;
                    margin: {
                        top: rem-calc(72);
                    }
                    right: rem-calc(72);
                    float: right;
                    background: {
                        image: url("/img/articles_splash.jpg");
                        size: 105% 105%;
                    }
                    height: rem-calc(140);
                    width: rem-calc(140);
                    border: {
                        radius: rem-calc(80);
                    }
                }
            }
        }
    }
}
