$backend: "http://10.42.0.30:8989";
$rem-base: 16px !default;
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base) {
    $value: strip-unit($value) / strip-unit($base-value) * 1rem;
    @if ($value==0rem) {
        $value: 0;
    } // Turn 0rem into 0
    @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
    $max: length($values);
    @if $max==1 {
        @return convert-to-rem(nth($values, 1), $base-value);
    }
    $remValues: ();
    @for $i from 1 through $max {
        $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
    }
    @return $remValues;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    line-height: inherit;
    vertical-align: baseline;
}

a,
a:hover,
a:active {
    outline: medium none;
    text-decoration: none;
}
/*---------ONLY BELOW NEW-----------*/

.signin {
    margin: {
        left: rem-calc(180);
        right: rem-calc(180);
    }
    .coffee-header {
        vertical-align: middle;
        .aid-head {
            width: 100%;
            height: rem-calc(22);
            opacity: 0.8;
            margin: {
                bottom: rem-calc(0);
            }
            background: {
                color: #795548;
            }
            p {
                font: {
                    size: 1.05em;
                }
                color: #CCCCCC;
                padding: {
                    left: 5px;
                }
            }
        }
        .logo {
            .picture {
                margin: {
                    left: auto;
                    right: auto;
                }
                display: block;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .coffee-nav {
            float: right;
            position: relative;
            left: -50%;
            text-align: left;
            ul {
                list-style: none;
                position: relative;
                left: 50%;
            }
            li {
                float: left;
                position: relative;
                a {
                    font-size: 1.2em;
                    float: left;
                    text-align: center;
                }
            }
        }
    }
    .reg-main {
        margin: {
            top: rem-calc(50);
        }
        padding: {
            top: rem-calc(30);
            left: rem-calc(30);
            right: rem-calc(30);
        }
        border: {
            radius: 8px;
        }
        background: {
            color: #efebe9;
        }
        .fieldset {
            legend {
                font-family: georgia;
                color: #ADADAD;
                border: medium none;
                font-size: 36px;
                font-style: italic;
            }
            .form-group label {
                text-transform: uppercase;
                font: {
                    weight: bold;
                    size: 1.05em;
                }
                color: #ADADAD;
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
            }
        }
        .sigin-picture {
            button: 0;
        }
        .btn.account-btn {
            width: 100%;
            font-weight: bold;
            font-size: 1.05em;
            font-family: montserratregular;
            font-style: normal;
            background-repeat: no-repeat;
            background-position: 96% 50%;
            background-color: #795548;
            text-align: left;
            padding: 4px 12px;
            text-transform: uppercase;
            color: #FFF;
            transition: all 250ms ease-out 0s;
            span {
                position: absolute;
                top: 25%;
                right: 8%;
            }
        }
        .btn.account-btn:hover {
            background-color: #585858;
            color: #FFF;
        }
    }
    .after-main {
        a {
            text-align: center;
            width: 100%;
            display: block;
            font: {
                size: 1.1em;
                weight: bold;
            }
        }
    }
    .signin-footer {
        img {
            display: block;
            margin: auto;
        }
    }
}

.profile-avatars {
    height: 100%;
    img {
        margin: {
            top: 120%;
        }
        position: relative;
        left: 15%;
    }
}
