<div id="recent-article">
  <h2 class="red">RECENT ARTICLES</h2>
  <div>
    <div class="list-container">
      <ul class="list">
        <li>
          <h4><a href="/#blogs/1">How To Make AeroPress Coffee</a></h4>
          <p>A good cup of coffee is an essential part of my morning, and there are many ways to achieve this necessity. Drip coffee makers, single-cup brewers, the French press. But if I had to choose just one way to make coffee, one that delivered good taste and convenience without much expense, I would have to go with the AeroPress — a strange-looking little gadget that produces a superb cup of coffee.</p>
        </li>

        <li>
          <h4><a href="/#blogs/2">法压壶怎么泡出香浓美味咖啡</a></h4>
          <p>当我们回头看看每个有咖啡陪伴的清晨，那种简单的快乐和安详是不言而喻的。法压壶是简单、便宜的制作完美咖啡的方法之一，这里我们就一步一步教大家如何用法压壶做出一杯好咖啡。</p>
        </li>
      </ul>
    </div>
  </div>

</div>
